<%= form_for [@survey, question] do |f| %>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <%= f.text_field :title, autofocus: true, class: 'form-control', placeholder: "Title" %>
      </div>
    </div>        
  </div>
  <div class="text-center" style="margin-top: 15%;">
    <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>